<div class="row justify-content-center mt-5">
    <p class="col-lg-8 text-justify">
        O <strong>dólar</strong>, comumente referenciado como o <strong>dólar estadunidense</strong> ou <strong>dólar americano</strong>, é a moeda oficial dos Estados Unidos e utilizada no mundo inteiro,
        tanto em reservas internacionais, como em livre circulação entre países. Atualmente, sua expedição é controlada pela Reserva Federal dos Estados Unidos. <small>(<a href="https://pt.wikipedia.org/wiki/D%C3%B3lar_dos_Estados_Unidos" target="_blank">Wiki</a>)</small>
    </p>
    <p class="col-lg-8 text-justify">
        Os dados fonercidos nesta página são obtidos através da API do <a href="https://dadosabertos.bcb.gov.br/dataset/dolar-americano-usd-todos-os-boletins-diarios/resource/ae69aa94-4194-45a6-8bae-12904af7e176" target="_blank">Banco Central do Brasil</a>
        e correspondem ao fechamento da cotação do último dia útil. Para mais informações, consulte o site do BACEN.
    </p>
</div>