<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cotação Dólar</title>
    <link rel="shortcut icon" href="~/dollars.ico" />
    <script src="https://kit.fontawesome.com/6e9f34e049.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!--Google Adsense-->
    <script data-ad-client="ca-pub-1004114808696677" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Cotação Dólar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div>&copy; 2020 - Cotação Dólar</div>
            <div>Desenvolvido por: Thiago Bechara</div>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="https://github.com/thiagocbechara" target="_blank" class="profile-link"><i class="fab fa-github fa-2x"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.linkedin.com/in/thiagobechara/" target="_blank" class="profile-link">
                        <span style="color: dodgerblue;">
                            <i class="fab fa-linkedin fa-2x"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
